.cart {
    flex-direction: column;
    width: 200px;
    margin: 20px;
    padding: 5px;
    border: 2px solid blue;
    border-radius: 20px;
}

.per_image {
    overflow: hidden;
    border-radius: 20px;
}

.per_image img {
    max-width: 100%;
    object-fit: cover;
}

.per_info {
    
}